# Build products and artifacts
*.html
.m2-repository/
pom.xml.versionsBackup
target/
dependency-reduced-pom.xml

# Stuff from various IDE's and editors
*.iml
*~
.idea/*

# Mac OS X Finder
.DS_Store

src/main/resources/assets/448c34a56d699c29117adc64c43affeb.woff2
src/main/resources/assets/65bcbc899f379216109acd0b6c494618.svg
src/main/resources/assets/7149833697a959306ec3012a8588dcfa.eot
src/main/resources/assets/89889688147bd7575d6327160d64e760.svg
src/main/resources/assets/c4668ed2440df82d3fd2f8be9d31d07d.ttf
src/main/resources/assets/d95d6f5d5ab7cfefd09651800b69bd54.woff
src/main/resources/assets/deps.js
src/main/resources/assets/e18bbf611f2a2e43afc071aa2f4e1512.ttf
src/main/resources/assets/f4769f9bdb7466be65088239c12046d1.eot
src/main/resources/assets/fa2772327f55d8198301fdb8bcfc8158.woff
src/main/resources/assets/index.js
src/main/resources/assets/LICENSE
src/main/resources/assets/README
src/main/resources/assets/repair.js
src/main/resources/assets/schedules.js
